<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  </head>
  <body>
    <h1>Introduction:</h1>
        <p>This is a brief version of the rules for (TODO: Come up with a name for this system). This document expects that you are familiar with the idea of Tabletop Roleplaying Games.</p>
        <p>This system is very rules light and open-ended, meaning it is all but guaranteed that over the course of a play-session, you will do some things that don&rsquo;t have rules associated. Players are encouraged to come up with creative and unexpected solutions to problems, even if they may be unrealistic. The Game Master (GM) runs the game and has final say on what happens as a result of the player&rsquo;s actions.</p>
    <h1>Setting:</h1>
        <p>Before playing, your group will need to select or create a setting document. This document will explain the setting, as well as some setting-specific rules, items, abilities, etc.</p>
    <h1>Character Creation:</h1>
        <h2>Attributes:</h2>
            <p>Your character has 6 attributes: Strength, Dexterity, Endurance, Intelligence, Perception, and Charisma. When you first make your character, choose a value between -3 and +3 for each of these scores, with the sum of all scores adding up to +5. A +0 is considered to be average.</p>
            <ul>
                <li>Strength: Melee and thrown weapons, grappling, moving big things</li>
                <li>Dexterity: Ranged weapons, dodging, stealth, precision tools</li>
                <li>Endurance: Max HP, poison and disease resistance, fending off exhaustion</li>
                <li>Intelligence: Remembering things, determining weaknesses, magic effectiveness</li>
                <li>Perception: Noticing subtle things, finding hidden things, reacting quickly</li>
                <li>Charisma: Max MP, Convincing people of things, resisting mind control</li>
            </ul>
            <p>TODO: Decide what happens to attributes when leveling up.</p>
        <h2>Skills:</h2>
            <p>Every character has certain areas of expertise, called skills. Unlike many other RPGs, there is not a set-in-stone list of skills. A skill should not be too specific or generic, though the level of specificity may vary from one game to the next. Work with your GM when deciding what skills are appropriate. Some examples are: swordplay, spellcasting, religion, weight-lifting, stealth, thievery, alchemy, nature, persuasion, etc.</p>
            <p>When first making your character, you have a total of 4 skill points to divide amongst your skills, and a maximum of +2 in any skill. This means you can have four skills with +1 each, two skills with +2 each, or one skill with +1 and two skills with +1 each.</p>
            <p>Whenever you level up, you add 2 to your total skill point pool, and the maximum you can have for any skill increases by 1. There is no maximum to the number of unique skills you can have.</p>
        <h2>Points:</h2>
            <p>You have three different points of pools, two of which are divided further into two sub-pools each. These pools are detailed below.</p>
            <h3>Health Points</h3>
                <p>Your HP is divided into two pools; deep HP and shallow HP. Both together represent how far your character is from dying. Your total HP is equal to 5 + your endurance attribute. Half of your total HP rounded down is deep HP, and the rest is shallow HP. (Ex. if your endurance is +2, you have 7 total HP, 4 of which is deep and 3 of which is shallow.)</p>
                <p>Shallow HP is less vital than your deep HP, and easier to lose and regain. When taking damage, you lose shallow HP first before losing deep HP.</p>
                <p>When you complete a rest, regain all of your shallow HP, and one deep HP.</p>
            <h3>Mana Points</h3>
                <p>Similar to HP, your MP is divided into deep and shallow pools. The calculation is the same, except that you use intelligence instead of endurance. Also like HP, shallow MP is easier to regain than deep MP and consumed first by default.</p>
                <p>Mana is consumed by certain abilities. If an ability specifies an MP cost, you may not use the ability unless you have enough MP, which is consumed by the ability. Some abilities may specify that they use deep MP directly, meaning they ignore shallow MP.</p>
                <p>When you complete a rest, regain all of your deep MP. Your shallow MP recovers fully after approximately 10 minutes of not using any MP.</p>
            <h3>Action Points</h3>
                <p>Unless an ability or item specifies otherwise, every character has 6 AP. During your turn, AP is required to take actions. Many actions that are written in the rules will have an associated AP cost. If trying to do something unusual, the GM will decide an AP cost.</p>
                <p>TODO: Decide if AP should be associated with an attribute.</p>
                <p>Regain all of your AP at the start of your turn.</p>
        <h2>Abilities:</h2>
            <p>Every character has a number of abilities, which are usually special things they can do such as magic spells, battle maneuvers, or physical transformations. You have a number of Skill Points (SP) equal to your level plus one. Most abilities that give a positive effect cost 1 SP, but some negative abilities will instead give you an additional SP, and some neutral abilities will cost zero and come with both an upside and a downside. (Ex. if you are level 2, you have 3 total SP. You might have 4 normal abilities, 1 negative ability, and two neutral abilities.)</p>
            <p>The abilities are listed in another document, where they are organized as a tree. Abilities on the far-left are beginner-level and have no prerequisites other than their SP cost. Any abilities to the right of them are locked until you gain their respective prerequisite abilities.</p>
        <h2>Equipment:</h2>
            <p>Each setting pamphlet will contain a list of equipment along with their prices. This is to keep the rules setting-agnostic. Even so, some rules for how some types of equipment will interact with the rules.</p>
            <h3>Weapons:</h3>
                <p>Each weapon will have an AP cost, a damage value, a damage type, a number of hands, and a range. Some weapons will have multiple sets of those values, indicating different ways of using the weapons. Some will also have other requirements or notes, such as an ammunition requirement or a special ability.</p>
                <p>When making an attack with a weapon, first spend the listed AP, roll a check (most commonly using strength for melee weapons, dexterity for ranged weapons, or intelligence or charisma for spells) against the target&rsquo;s dodge DC. If successful, the target takes the amount of damage listed on the weapon.</p>
                <p>TODO: More detail about weapons?</p>
            <h3>Armor:</h3>
                <p>Armor will have at least one protection value and an associated damage type. When taking damage of the listed type, reduce it by the protection value. Protection values from multiple sources can stack, and a negative protection value causes you to take more damage instead of less.</p>
                <p>Armor will also often have a strength minimum. If your strength is lower than the strength minimum when you equip the armor, you become encumbered.All armor will also have a listed don and doff time, which is the time it takes to equip and unequip the armor respectively.</p>
            <h3>Shields:</h3>
                <p>A shield offers no defence on its own. However, if on your turn you spend one AP to raise the shield, you gain advantage on dexterity checks against attacks (Meaning your DC increases by 2) until the start of your next turn. You can only raise your shield once per turn.</p>
            <h2>Leveling Up:</h2>
                <p>Whenever you level up: Gain one ability, increase your maximum skill by +1, and gain +2 to your total skill pool.</p>
                <p>Before playing, discuss with your table which of the following two methods for leveling up you will use.</p>
            <h3>Option 1: Milestone</h3>
                <p>The GM will declare after a major event that everyone levels up, and everyone levels up at the same time.</p>
            <h3>Option 2: Narrative</h3>
                <p>Players will level up one at a time. Tell your GM what ability you would like next, and have your character work towards that. Once the GM feels that your character has earned it, your character levels up. For example, your character may practice a spell every chance they get, or they may search for a spell scroll, find a swordmaster, or you may come to a sudden revelation during . No character may be more than 1 level above any other player.</p>
    <h1>Playing the Game:</h1>
        <h2>Rolling Dice:</h2>
            <p>Whenever the outcome of an action is uncertain, one player (or the GM) will make a roll. All rolls are against a number, called a DC. Try to have the participant making the roll be the one actively trying to do something (Ex. the person making an attack, knocking down a door, restraining a monster, trying to deceive someone, etc.) If the result of the roll is equal to or higher than the DC, the action is successful. Otherwise, it fails.</p>
            <p>To make a roll, first roll 3D6 and add them together. Then add the relevant attribute. You may ask the GM whether a certain skill would apply, and if so you may add that to the total as well. The default assumption should be that no skill applies to a roll. The opposing DC is calculated the same, except that you use the number 10 in place of the 3D6.</p>
            <p>It is possible to have various levels of advantage or disadvantage on a roll or DC. One advantage cancels out one disadvantage and vice versa. For each level of advantage, roll one additional die, but only keep the highest three. For every level of disadvantage, roll one additional die but keep only the lowest three. (Ex. 3 advantage and 1 disadvantage is equal to 2 advantage. Roll 5D6, keep the highest 3. If you roll 1,2,2,4,5 you keep 2,4,5 and add them to get 11.) For DCs, add 2 for every advantage or subtract 2 for every disadvantage</p>
            <p>If the roll is equal to or greater than the DC plus 10, the roll is a critical success. If it is less than the DC minus 10, is it a critical failure (Ex. for a DC of 13, a roll of 13 succeeds, 23 and up critically succeeds, 3-12 fails, and 2 and under critically fails). If two of the final three dice are 1&rsquo;s, the level of success decreases by 1. If two of the final three dice are 6&rsquo;s, increase the level of success by 1.</p>
            <h3>Main Character Tokens:</h3>
                <p>Every play session, each character gets one Main Character Token (MCT). Whenever you make a roll, you can spend one Main Character Token to redo that roll. You can also spend all of your MCT&rsquo;s when dying to return to consciousness with 1 shallow HP.</p>
                <p>The GM can award extra tokens for impressive play, and should try to be generous with them.</p>
        <h2>Turn Order:</h2>
            <p>Whenever doing something time-critical (such as combat), the players and any other factions will enter turn-based initiative. Each round takes roughly six seconds, and each creature gets one turn per round. Each faction in a combat will take their turns as a block concurrently, generally starting with the players unless there is a reason why a different faction should act first.</p>
            <p>Creatures in a turn block may use their action points in any order, and once everyone has declared that their turns are done, the next faction block acts. Combat will usually consist of only two factions, although it is possible for more factions to be present, or for each creature to be their own faction. If the environment poses a threat, it will be considered its own faction which acts after all others.</p>
        <h2>Conditions:</h2>
            <h3>Persistent Damage:</h3>
                <p>A creature takes persistent damage at the end of each of their turns. The source of persistent damage should specify how it can be removed.</p>
        <h2>Resting:</h2>
            <p>A rest takes 8 hours, at least 6 of which must be used sleeping and any remaining time must be used doing a non-strenuous activity, such as reading, talking, or keeping watch.</p>
        <h2>Dying:</h2>
            <p>When your HP reaches zero, you start dying. Roll 1D6 and add nothing. This D6 is your death counter.</p>
            <p>While dying, you are unconscious and cannot speak or take any actions. At any point during each of your turns, decrease your death counter by one. If you take damage while dying, decrease your death counter by the amount of damage taken.</p>
            <p>If your death counter would reach zero, or at any other point while dying if you so choose, you must choose one of the following options:</p>
            <ol>
            <li>Blaze of Glory: your character is able to take one final turn, and has an additional +10 modifier to all rolls and DCs made during that turn. Immediately after their turn ends, they die permanently.</li>
            <li>Missing in Action: Your character is removed from the dangerous situation and will survive, but at the cost of something horrible happening. (Ex. They might fall down a waterfall and show up a week later with a missing leg, or they might wake up some time later in a hospital bed and learn than a beloved NPC has died in their place)</li>
            <li>Leave it to Chance: Roll 1D6 and add nothing. On a 1-3, your character is able to speak a few final words before dying permanently. On a 4-6, your character regains 1 shallow HP and wakes back up.</li>
            </ol>
            <p>If you regain health (deep or shallow) you instantly regain consciousness and are able to continue using your AP this turn. However, if you have zero deep HP, your injuries are severe and your shallow HP will decrease by one point every hour.</p>
        <h2>Common Actions:</h2>
            <h4>Move</h4>
                <p>AP: 1</p>
                <p>Traits: Movement</p>
                <p>Effect: Your character moves up to about 3 meters or 10 feet</p>
            <h4>Stand Up</h4>
                <p>AP: 3</p>
                <p>Traits: Movement</p>
                <p>Effect: Your character who was previously prone stands up.</p>
            <h4>Equip / Unequip</h4>
                <p>AP: 1</p>
                <p>Traits: Interact</p>
                <p>Effect: You pick up an item, move an item from your inventory to your hand, or move an item from your hand to your inventory. Note that dropping something costs 0 AP.</p>
            <h4>Attack</h4>
                <p>AP: Depends on weapon.</p>
                <p>Traits: Attack</p>
                <p>Effect: Make a skill check to attack another creature.</p>
                <ul>
                <li>Critical Success: You deal &nbsp;2x the damage listed on the weapon.</li>
                <li>Success: You deal the damage listed on the weapon.</li>
                <li>Failure: You deal no damage to the target.</li>
                <li>Critical Failure: Same as failure.</li>
                </ul>
            <h4>Raise Shield</h4>
                <p>AP: 1</p>
                <p>Traits: Defence</p>
                <p>Effect: If you are holding a shield, you raise it up, giving you advantage on blocking until the start of your next turn (+2 to your dodge DC.) A shield can only be raised once per turn.</p>
            <h4>Climb</h4>
                <p>AP: 2</p>
                <p>Traits: Movement</p>
                <p>Effect: Make a skill check to climb a surface.</p>
                <ul>
                <li>Critical Success: You move up the surface an extended distance (~2 meters)</li>
                <li>Success: You move up the surface an adjacent distance (~1 meter)</li>
                <li>Failure: You stay where you were previously</li>
                <li>Critical Failure: You fall off the surface. Depending on the surface, you may or may only fall a short distance.</li>
                </ul>
  </body>
</html>