<!doctype html>
<html lang="en">
  <body>
    <div id="app" style="position: relative;">
      <p-dropdown id="tree-selector-dropdown" [options]="abilityData" optionLabel="name" placeholder="Select an Ability Tree" (onChange)="SelectAbilityTree($event.value)"></p-dropdown>
      <div id="ability-view" style="position: relative; margin-top: 60px">
        <canvas id="ability-canvas" style="position: relative;"></canvas>
        <div id="button-holder"></div>
      </div>
    </div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
